<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Kumpulan Doa-doa Harian mengikuti sunnah dari Nabi Muhammad SAW." />
        <title>Daily Dua</title>
    </head>
    <body>
        <header>
            <div class="container mt-5 mb-3 mx-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <app-bar></app-bar>
                        <search-bar></search-bar>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row pt-3 justify-content-center" id="card-list"></div>
                <div class="error-message text-center d-none">
                    <h2>Doa tidak ditemukan :(</h2>
                </div>
            </div>
        </main>
        <footer>
            <footer-bar></footer-bar>
        </footer>
    </body>
</html>
